@import "./theme.less";
@import "./mixins.less";
// 公共样式

.icon {
    width         : 1em;
    height        : 1em;
    vertical-align: -0.15em;
    fill          : currentColor;
    overflow      : hidden;
}

.clearfix {
    *zoom: 1;

    &:after {
        content    : '';
        display    : block;
        font-size  : 0;
        line-height: 0;
        visibility : hidden;
        clear      : both;
    }
}

.web {
    width    : 100%;
    max-width: 1200px;
    margin   : 0 auto;
    padding: 0 .3rem;
}

// 头部
.header {
    background-color: rgba(0, 0, 0, .5);

    .web {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
    }

    // @media (min-width: 768px){}
}

.logo a {
    display       : block;
    font-weight   : 700;
    font-size     : 32px;
    padding       : 10px 0;
    color         : #fff;
    letter-spacing: 2px;
    font-style    : oblique;
    text-shadow   : 4px 4px 4px rgba(0, 0, 0, .4);
}

.nav {
    width: 50%;
}

.nav-list {
    width          : 100%;
    display        : flex;
    justify-content: space-between;

    li {
        a {
            display       : block;
            padding       : 10px;
            color         : #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight   : 700;
            font-size     : 14px;
            position      : relative;

            &:after {
                content: "";
                .xcenter();
                bottom       : 0;
                width        : 0;
                border-bottom: 1px solid #fff;
                transition   : width .3s;

            }

            &:hover:after,
            &.cur:after {
                width: 70%;
            }
        }
    }
}

// 底部
.footer {}

// 首页banner
.index-banner {
    position                : relative;
    width                   : 100%;
    height                  : 6rem;
    background              : url('../images/ximg01.jpg') no-repeat center / cover;
    background-attachment   : fixed;
    // clip-path            : polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    clip-path               : polygon(50% 0%, 100% 0, 100% 80%, 70% 100%, 0 80%, 0 0);

    &:after {
        content: "";
        .coverParent();
        // background: linear-gradient(#72cca8 40%, #aee7c8 60%, #f3f9f8 100%);
        background   : linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
        opacity      : .5;
        z-index      : 1;
    }

    .web {
        .center();
        z-index   : 4;
        text-align: center;
        color     : rgba(255, 255, 255, .9);
    }

    .dictum {
        font-size    : .36rem;
        font-weight  : 700;
        margin-bottom: .2rem;
        text-shadow  : 4px 4px 4px rgba(0, 0, 0, .4);
    }

    .motto {
        font-size    : .3rem;
        margin-bottom: 0.3rem;
        text-shadow  : 4px 4px 4px rgba(0, 0, 0, .4);
    }

    .more {
        .btn();
        .transition();
        position  : relative;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

        &:after {
            content: '';
            .coverParent();
            .transition();
            border       : 2px solid @themeColor;
            border-radius: 5px;
        }

        &:hover:after {
            top   : -6px;
            right : -6px;
            bottom: -6px;
            left  : -6px;
        }
    }
}

// 首页标题
.module-title {
    text-align    : center;
    font-size     : .4rem;
    text-transform: uppercase;
    font-weight   : 700;
    margin        : .4rem 0 .6rem;

    span {
        display : inline-block;
        padding : 0 10px;
        position: relative;
        z-index : 4;

        &:before,
        &:after {
            content: '';
            .ycenter();
            width           : 45px;
            height          : 2px;
            background-color: @fontColor;
            z-index         : 0;
        }

        &:before {
            left: -45px;
        }

        &:after {
            right: -45px;
        }
    }

}
.index-about{
    .module-title span {
        color: @themeColor;

        &:before,
        &:after {
            background-color: @themeColor;
        }
    }
}

// 首页博客
.index-blog {
    padding-bottom: .6rem;

    .list {
        display        : flex;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
            width: 3.2rem;
            height: 2.6rem;
            margin-bottom: .25rem;
            text-shadow  : 4px 4px 4px rgba(0, 0, 0, .8);
        }

        .img-box {
            position     : relative;
            height: 100%;
            background   : linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
            border-radius: 5px;
            overflow     : hidden;
        }

        img {
            .blockImg();
            height: 100%;
            opacity: 0.6;
            .transition();

        }

        figcaption {
            .coverParent();
        }

        .title {
            .center();
            .transition();
            padding: 0 12%;
            width     : 100%;
            text-align: center;
            color     : #fff;
            font-size : .25rem;
            z-index   : 1;
        }

        .text {
            .center();
            .transition();
            padding: 0 12%;
            width: 100%;
            color     : @themeColor;
            font-size : 16px;
            transform: translateY(100%);
            opacity: 0;
        }
        .hide-look {
            .coverParent();
            color      : #fff;
            font-size  : 0;
            line-height: 0;
            z-index    : 10;
        }

    }
}

// 首页关于
.index-about {
    position             : relative;
    padding              : 1rem 0 2rem;
    background           : url('../images/ximg03.jpg') no-repeat center / cover;
    background-attachment: fixed;
    clip-path            : polygon(20% 0, 100% 5%, 100% 95%, 70% 100%, 0 95%, 0 7%);
    transform            : translateY(0);

    &:after {
        content: '';
        .coverParent();
        background: @fontColor url('../images/ximg01.png') repeat;
        opacity   : .9;
        z-index   : -1;
    }

    .web {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .base-info {
        width: 100%;
        font-size  : .35rem;
        line-height: 2;
        text-align : center;
        color      : @grayColor;
        // li{
        //     direction   : rtl;
        //     unicode-bidi: bidi-override;
        // }
    }

    .skill {
        width    : 100%;
        font-size: .35rem;
        color    : @grayColor;

        li {
            margin-bottom: .2rem;
        }

        .tip {
            margin-bottom: .15rem;
        }

        .percentage {
            width           : 100%;
            height          : 4px;
            background-color: @grayColor;

            span {
                display         : block;
                height          : 100%;
                width: 0;
                border-radius   : 0 2px 2px 0;
                overflow        : hidden;
                background-color: @greenColor;
                .transition(2s);
            }
        }
    }

    .img-box {
        width       : 100%;
        padding     : 1rem 0;
        margin: .3rem .8rem .3rem 0;
        background  : url('../images/ximg02.jpg') no-repeat center;
        background-size: 100% 100%;

        img {
            width    : 168px;
            height   : 168px;
            transform: translateX(100%);
        }
    }
}

.advert {
    padding    : 1.5rem 0;
    text-align : center;
    font-size  : 36px;
    font-weight: 700;
}

// 首页服务
.index-service {
    padding   : 1rem 0;
    background: linear-gradient(#72cca8, #aee7c8 13%, #f3f9f8 40%, #F6F9FC 60%, #F6F9FC 150%, #fff);
    clip-path : polygon(0 2%, 100% 0, 100% 95%, 0% 100%);

    .list {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;

        li {
            width: 100%;
            display         : flex;
            padding         : .4rem .2rem .35rem;
            margin-bottom   : .3rem;
            border-radius   : 5px;
            background-color: #fff;
            box-shadow      : 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);

        }

        .icon-box {
            position        : relative;
            width           : .7rem;
            height          : .7rem;
            border-radius   : 50%;
            background-color: rgba(36, 180, 126, .35);

            .icon {
                .center();
                width : 50%;
                height: 50%;
                color : @greenColor;
            }
        }

        .content {
            flex        : 1;
            padding-left: .3rem;
        }

        .title {
            font-size    : .36rem;
            color        : @greenColor;
            margin: .05rem 0 .1rem;
        }

        .info {
            font-size: .3rem;
        }
    }
}

// 首页联系
.index-contact {
    padding-bottom: 2rem;

    .tip {
        font-size    : .36rem;
        font-weight  : 700;
        text-align   : center;
        margin-bottom: .6rem;
    }

    .send-mail {
        .btn(2.2rem);
        position        : relative;
        display         : flex;
        align-items     : center;
        background-color: @themeColor;
        transform       : translateZ(0);

        .icon {
            width : .5rem;
            height: .5rem;
        }

        .text {
            flex: 1;
            margin-left: 5px;
        }

        .email {
            .coverParent();
            z-index: 10;
        }
    }
}
/**
screen，设备在打印页面时使用衬线字体，在屏幕上显示时用无衬线字体。
max-width: 960px 小于960px
max-device-width:960px 等于960px 
min-width:960px 大于960px 
@media screen and (min-width:960px) and (max-width:1200px) 大于960px小于1200px 
*/
// ipad 768
@media screen and (min-width: 768px) {
    .index-banner{
        height: 7rem;
        .dictum{
            font-size: 0.72rem;
            margin-bottom: 0.4rem;
        }
        .motto{
            margin-bottom: 0.6rem;
            font-size: .32rem;
        }
    }
    .module-title{
        font-size: 0.5rem;
        margin: .8rem 0 1rem;
    }
    .index-blog{
        padding-bottom: 1.2rem;
        .list li{
            width: 6rem;
            height: 4.6rem;
            margin-bottom: .6rem;
            .title{
                font-size: .4rem;
            }
        }
    }
    .index-about {
        .web{
            justify-content: center;
        }
        .img-box, .skill {
            width: 60%;
        }
        .img-box{
            margin-right: 0;
        }
    }
    .index-service {
        padding-bottom: 2rem;
        .list li{
            padding: .4rem .4rem .35rem;
            .icon-box{
                width: 1.4rem;
                height: 1.4rem;
            }
            .title{
                font-size: 0.4rem;
                margin: 0 0 .15rem;
            }
            .info{
                font-size: .36rem;
            }
        }
    }
    .index-contact .tip{
        font-size: 0.4rem;
    }
}
// ipad 横向 1024
@media screen and (min-width: 1024px) {
    .index-blog{
        padding-bottom: 2rem;
        .list li{
            width: 4rem;
            height: 3.6rem;
            margin-bottom: 0;
            .title{
                font-size: .3rem;
            }
        }
    } 
    .index-service .list li{
        width: 49%;
        margin-bottom: 0.4rem;
    }

    .send-mail {
        &:after {
            content: '';
            .coverParent();
            .transition();
            background-color: @greenColor;
            transform       : rotate3d(1, 1, 0, 90deg);
            opacity         : 0;
            z-index         : -1;
        }

        &:hover:after {
            transform: rotate3d(1, 1, 0, 360deg);
            opacity  : 1;
        }
    }
    .index-blog {
        figcaption:after {
            content: '';
            .center();
            .transition();
            width: 90%;
            height: 90%;
            border       : 1px dashed @themeColor;
            border-radius: 5px;
            transform    : translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            z-index      : 4;
        }
        li:hover {
            img {
                opacity: 0.4;
            }

            figcaption:after {
                transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            }

            .title {
                transform: translate( 0, 0);
                top: 15%;
                left: 0;
                color: @themeColor;
            }
            .text{
                transform: translate(0, 0);
                opacity: 1;
                left: 0;
                top: 30%;
            }
        }
    }

}

// web 1200
@media screen and (min-width: 1200px) {
    .web{
        padding: 0;
    }
    .index-contact {
        padding-bottom: 4rem;
    }
    .index-banner{
        height: 14rem;
    }
    .index-blog{
        padding-bottom: 3rem;
    }
    .index-about{
        clip-path            : polygon(10% 0, 100% 10%, 100% 90%, 90% 100%, 0 90%, 0 10%);
        .web{
            justify-content: space-between;
        }
        .base-info{
            width: 33%;
        }
        .skill{
            width: 25%;
        }
        .base-info{
            text-align: right;
        }
        .img-box{
            width: 25%;
            margin: 0 .16rem;
            padding: 2rem 0;
        }
    }
    .index-service{
        clip-path : polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        padding-bottom: 2.4rem;
    }

}